<a href="https://colab.research.google.com/github/uchihaada/Python/blob/main/Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)Create a table to store and retrieve large digital objects each employee’s following details:
The employee’s ID acting as the primary key, the employee’s name such that all
names should start with capital letter, employee’s photo, and his/her resume.

In [ ]:
import sqlite3
conn=sqlite3.connect('EmployeeDatabase1.db')
cur=conn.cursor()
cur.execute('create table new_emp1(id integer primary key, name text NOT NULL, photo BLOB NOT NULL ,resume BLOB NOT NULL)')
print('Table created')

a) Write user defined python function for convert the large digital files into binary, and another function to store those in SQL tables. Insert atleast 3 employee’s record.

In [ ]:
conn.close()
connn=sqlite3.connect('EmployeeDatabase1.db')
currr=connn.cursor()
def convertToBinary(filename):
  #convert digital to binary
  with open(filename,'rb') as file:
      blobData=file.read()
      return blobData

def insertBLOB(empid,name,photo,resumeFile):
  z='insert into new_emp1(id,name,photo,resume) values(?,?,?,?)'
  empphoto=convertToBinary(photo)
  resume=convertToBinary(resumeFile)
  dataTuple=(empid,name,empphoto,resume)
  currr.execute(z,dataTuple)
  connn.commit()
  currr.close()

insertBLOB(2,'prerna','/content/prerna.jpg','/content/prerna_resume.pdf')

In [ ]:
#connn=sqlite3.connect('EmployeeDatabase.db')
curr1=connn.cursor()
e=curr1.execute('select * from new_emp1')
print(e.fetchall())
connn.commit()
curr1.close()

b) Write a user defined python function to retrieve and print the id, name and download the photo and resume of a specific employee, whose id is entered by the user.

In [ ]:

def WriteToFile(data,filename):
  #Convert Binary data to proper format and write to hard disk
  with open(filename,'wb') as file:
    file.write(data)
def readBlobData(empid):
  connn=sqlite3.connect('EmployeeDatabase1.db')
  curr1=connn.cursor()
  sql1='select * from new_emp1 where id=?'
  curr1.execute(sql1,(empid,))
  record=curr1.fetchall()
  for row in record:
    print("Id : ",row[0],"Name : ",row[1])
    name=row[1]
    photo=row[2]
    resumefile=row[3]
    photopath="/content/"+name+".jpg"
    resumepath="/content/"+name+"_resume.pdf"
    WriteToFile(photo,photopath)
    WriteToFile(resumefile,resumepath)
  curr1.close()
readBlobData(1)
readBlobData(2)

a)Create the Doctor and Hospital Table following the data model described above.

In [ ]:
import sqlite3
con2=sqlite3.connect('Hospital1.db')
cur2=con2.cursor()
cur2.execute('CREATE TABLE Hospital (Hospital_Id INTEGER PRIMARY KEY NOT NULL, Hospital_Name TEXT NOT NULL, Bed_Count INTEGER)');
print('Table Created')

In [ ]:
cur2.execute('INSERT INTO Hospital (Hospital_Id, Hospital_Name, Bed_Count)  VALUES (1, "Mayo Clinic", 200) ')

In [ ]:
cur2.execute('INSERT INTO Hospital (Hospital_Id, Hospital_Name, Bed_Count)  VALUES (2, "Cleveland Clinic", 400) ')
cur2.execute('INSERT INTO Hospital (Hospital_Id, Hospital_Name, Bed_Count)  VALUES (3, "Johns Hopkins", 1000) ')
cur2.execute('INSERT INTO Hospital (Hospital_Id, Hospital_Name, Bed_Count)  VALUES (4, "UCLA Medical Center", 1500) ')

In [ ]:
e=cur2.execute('select * from Hospital')
print(e.fetchall())

In [ ]:
cur2.execute('CREATE TABLE Doctor (Doctor_Id INTEGER NOT NULL PRIMARY KEY,Doctor_Name TEXT NOT NULL, Hospital_Id INTEGER NOT NULL, Joining_Date TEXT NOT NULL, Speciality TEXT NOT NULL, Salary INTEGER NOT NULL,Experience INTEGER);')

In [ ]:
cur2.execute('INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience) VALUES (101, "David", 1, "2005-2-10", "Pediatric", 40000, NULL)')

In [ ]:
cur2.execute('INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience) VALUES (102, "Michael", 1, "2018-07-23", "Oncologist", 20000, NULL)')
cur2.execute('INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience) VALUES (103, "Susan", 2, "2016-05-19", "Garnacologist", 25000, NULL)')
cur2.execute('INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience) VALUES (104, "Robert", 2, "2017-12-28", "Pediatric ", 28000, NULL)')
cur2.execute('INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience) VALUES (105, "Linda", 3, "2004-06-04", "Garnacologist", 42000, NULL)')
cur2.execute('INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience) VALUES (106, "William", 3, "2012-09-11", "Dermatologist", 30000, NULL)')
cur2.execute('INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience) VALUES (107, "Richard", 4, "2014-08-21", "Garnacologist", 32000, NULL)')
cur2.execute('INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience) VALUES (108, "Karen", 4, "2011-10-17", "Radiologist", 30000, NULL)')

b)Implement the functionality to read the details of a given doctor from the doctor table and Hospital from the hospital table. i.e., read records from Hospital and Doctor Table as per given hospital Id and Doctor Id.

Output: As per hospital id = 2 and doctor-id = 105

In [ ]:
def get_hospital_detail(hospital_id):
  select_query = """select * from Hospital where Hospital_Id = ?"""
  cur2.execute(select_query, (hospital_id,))
  records = cur2.fetchall()
  print("Printing Hospital record")
  for row in records:
    print("Hospital Id:", row[0], )
    print("Hospital Name:", row[1])
    print("Bed Count:", row[2])

def get_doctor_detail(doctor_id):
  select_query = """select * from Doctor where Doctor_Id = ?"""
  cur2.execute(select_query, (doctor_id,))
  records = cur2.fetchall()
  print(" ")
  print("Printing Doctor record")
  for row in records:
    print("Doctor Id:", row[0])
    print("Doctor Name:", row[1])
    print("Hospital Id:", row[2])
    print("Joining Date:", row[3])
    print("Specialty:", row[4])
    print("Salary:", row[5])
    print("Experience:", row[6])

get_hospital_detail(2)
get_doctor_detail(105)

c)Fetch all doctors whose salary higher than the input amount and specialty is the same as the input specialty.

In [ ]:
def get_specialist_doctors_list(speciality, salary):
  sql_select_query = """select * from Doctor where Speciality = ? and Salary > ?"""
  cur2.execute(sql_select_query, (speciality, salary))
  records = cur2.fetchall()
  print("Printing doctors whose specialty is", speciality, "and salary greater than", salary, "\n")
  for row in records:
    print("Doctor Id: ", row[0])
    print("Doctor Name:", row[1])
    print("Hospital Id:", row[2])
    print("Joining Date:", row[3])
    print("Specialty:", row[4])
    print("Salary:", row[5])
    print("Experience:", row[6], "\n")
get_specialist_doctors_list("Garnacologist",30000)

d)The value of the experience column for each doctor is null. Implement the functionality to update the experience of a given doctor in years.

In [ ]:
print("Before updation of experience \n")
get_doctor_detail(102)

In [ ]:
import datetime
from dateutil.relativedelta import relativedelta


def update_doctor_experience(doctor_id):
  select_query = "select Joining_Date from Doctor where Doctor_Id = ?"
  cur2.execute(select_query, (doctor_id,))
  joining_date = cur2.fetchone()

  # calculate Experience in years
  joining_date_1 = datetime.datetime.strptime(''.join(map(str, joining_date)), '%Y-%m-%d')
  today_date = datetime.datetime.now()
  experience = relativedelta(today_date, joining_date_1).years

  # Update doctor's Experience 
  
  sql_select_query = "update Doctor set Experience = ? where Doctor_Id = ?"
  cur2.execute(sql_select_query, (experience, doctor_id))
  con2.commit()
  print("Doctor Id:", doctor_id, " Experience updated to ", experience, " years")

update_doctor_experience(102)

e) Implement a functionality to find out the details of hospitals with more than 50 doctors.

In [ ]:
def get_hospital_name(hospital_id):
  select_query = """select * from Hospital where Hospital_Id = ?"""
  cur2.execute(select_query, (hospital_id,))
  record = cur2.fetchone()
  return record[1]

def get_doctors(hospital_id):
  hospital_name = get_hospital_name(hospital_id)
  sql_select_query = """select * from Doctor where Hospital_Id = ?"""
  cur2.execute(sql_select_query, (hospital_id,))
  records = cur2.fetchall()

  print("Printing Doctors of ", hospital_name, "Hospital")
  for row in records:
    print("Doctor Id:", row[0])
    print("Doctor Name:", row[1])
    print("Hospital Id:", row[2])
    print("Hospital Name:", hospital_name)
    print("Joining Date:", row[3])
    print("Specialty:", row[4])
    print("Salary:", row[5])
    print("Experience:", row[6], "\n")

get_doctors(2)