<a href="https://colab.research.google.com/github/uchihaada/Python/blob/main/RDBMSPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn=sqlite3.connect('HIT.db')
cur=conn.cursor()
# cur.execute('create table ada (rollno int\
# primary key check(typeof(rollno)="integer"),\
# name varchar(23) check(typeof(name)="text"),\
# percentage int check(typeof(percentage)="integer"));')
# print("table created")

# cur.execute('select * from sqlite_master')
# print(cur.fetchall())

cur.execute('insert into ada values(5,"ada",93)')
cur.execute('insert into ada values(11,"bittu",73)')
cur.execute('insert into ada values(12,"aryaan",97)')
cur.execute('insert into ada values(65,"anunit",85)')
cur.execute('select *from ada')
print(cur.fetchall())

[(5, 'ada', 93), (11, 'bittu', 73), (12, 'aryaan', 97), (65, 'anunit', 85)]

In [ ]:
import sqlite3

list1=[(12,"abc",89),(14,"rty",56),(16,"eryu",89)]
con=sqlite3.connect('HITkk.db')
cur=con.cursor()
cur.execute('create table gg1 (rollno int\
primary key check(typeof(rollno)="integer"),\
name varchar(23) check(typeof(name)="text"),\
percentage int check(typeof(percentage)="integer"));')
print("table created")

cur.executemany('insert into gg1 values(?,?,?)',list1)
cur.execute('select * from gg1')
print(cur.fetchall())

table created
[(12, 'abc', 89), (14, 'rty', 56), (16, 'eryu', 89)]

In [ ]:


roll1=int(input())
name1=input()

per=int(input())

cur=con.cursor()

cur.execute('insert into gg values(?,?,?)',(roll1,name1,per))
# cur.execute('select count(*) from gg')

cur.execute('select *from gg where name like "_a%"')
print(cur.fetchall())

78
gandu
89
[(78, 'gandu', 89)]

In [ ]:
name=input()
cur=conn.cursor()
cur.execute('select * from gg1 where name = :value',{'value':name})

print(cur.fetchall())

abc

ProgrammingError: ignored

In [ ]:
cur=con.cursor()
z=cur.execute('select * from gg1 where name =? ',(namee,))
for i in z:
  print(i[0])
  print(i[1])